<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>RicsaNet</title>
	<link rel="shortcut icon" href="images/logoicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<style>
		.over {
      width: 90%;
      text-overflow: ellipsis;
      overflow: hidden;
		}
		</style>
</head>
	
<body>


<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #000099;">
  <!--<img src="images/logob.png" width="35" height="35"> -->


  <button class="navbar-toggler" type="button" style="background-color: #fff;" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
 
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="nav navbar-nav">
      <a class="nav-link text-white font-weight-bold" href="#">Inicio<span class="sr-only">(current)</span></a>
    <!--</div>-->
     </ul>

   <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle text-white" data-toggle="dropdown">
          <b>Conócenos</b> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" style="background-color: #000099;" >
          <li><a class="nav-link font-weight-bold text-white" href="#who">¿Quiénes somos?</a></li>
          <li><a class="nav-link font-weight-bold text-white" href="#funciona">¿Cómo funciona?</a></li>
          <li><a class="nav-link font-weight-bold text-white" href="#bene">Beneficios</a></li>
          <li><a class="nav-link font-weight-bold text-white" href="zonas">Puntos de acceso</a></li>
        </ul>
      </li>
    </ul>
  

<ul class="nav navbar-nav">
      <a class="nav-link text-white font-weight-bold" href="video">Videos<span class="sr-only">(current)</span></a>
    <!--</div>-->
     </ul>
        
      </li>
    </ul>


  </div> 



  <div>
       <a href="https://es-la.facebook.com/RNInternetGratis/">
        <img src="images/Facebook.png" width="30" height="30">
        </a>
         <a href="https://www.instagram.com/ricsanet">
         <img src="images/Instagram.png" width="30" height="30">
         </a>
         <a href="https://www.youtube.com/channel/UCyM-ilMdEURtZCeAHmXwhgg">
         <img src="images/Youtube.png" width="30" height="30">    
         </a>
         <a href="https://api.whatsapp.com/send?phone=527442856487">
         <img src="images/whatsapp.png" width="30" height="30">    
         </a>

  </div>
</nav>

<!-- Prueba-->


<!--Termina prueba-->


            <div style="background-image:url(images/portada1.png);">
            <div>
             <div align='center'>
                <img src="images/LOGO.png" srcset="images/LOGO.png 3x">
                    <h1>Publicidad que conecta </h1>
                <div>
                <h3>¡Conéctate a internet gratis y difunde tu campaña!</h3>
                </div>
                <br>
                <a class="btn btn-primary btn-lg"  href="#conta" role="button" style="background-color: #000099;"><FONT COLOR=#FFCC33><b>Contáctanos</b></FONT></a>
                <br>
                <br>
              </div>
              <div class="row text-center">
              <div class="col-12 ">
                <a href="https://es-la.facebook.com/RNInternetGratis/">
                    <img src="images/Facebook.png" width="40" height="40">
                  </a>
                  <a href="https://www.instagram.com/ricsanet">
                  <img src="images/Instagram.png" width="40" height="40">
                  </a>
                  <a href="https://www.youtube.com/channel/UCyM-ilMdEURtZCeAHmXwhgg">
                  <img src="images/Youtube.png" width="40" height="40">    
                </a>
                  <a href="https://api.whatsapp.com/send?phone=527442856487">
                  <img src="images/whatsapp.png" width="40" height="40">    
                </a>
                <br><br>
            </div>
            </div>

            </div>

            <div align="center">
                <video controls poster="images/Portada_video_RicsaNet.png" src="images/RICSANET.mp4" width="80%" height="80%"></video>
            </div> 
      </div>

    	<!-- QUIENES SOMOS -->
     <section id="who">
  			<div class="container-fluid" style="background-color: #000099;">
  				<div class="container about-us">
  					<div class="row">
	  					<div class="col-sm-12 col-md-12 col-lg-5">
                <br><br>
               
	  						<img src="images/BGene.png"width="100%">
               
	  					</div>
	  					<div class="col-sm-12 col-md-12 col-lg-7 text-justify text-white">
                <br><br>
                <center>
	  						<h1><FONT COLOR=#FFCC33><b>¿QUIÉNES SOMOS?</b></FONT></h1>
                </center>
	  						<p><FONT SIZE=5 COLOR=#FFCC33><b>RicsaNet</b></FONT> es la nueva red de telecomunicación gratuita
                en la cual puedes difundir tu campaña publicitaria;
                transmitiendo, reforzando y garantizando la calidad de
                productos y/o servicios. De una forma ecológica y 100%
                medible, en los puntos mas concurridos del puerto de
                Acapulco.</p>
                <center>
                <h2><FONT COLOR=#FFCC33><b>MISIÓN</b></FONT></h2>
                </center>
                <p>Proporcionar un beneficio a la comunidad,
                transformando la forma de difundir tus
                campañas.
                </p>
                <br><br>
	  					</div>
	  				</div>
  				</div>
  			</div>
        </section>

        <!-- ¿Cómo funciona?-->
        <section id=funciona>
        <div class="container-fluid" style="background-color: #FFCC33;">
  				<div class="container about-us">
  					<div class="row">
	  					<div class="col-sm-12 col-md-12 col-lg-7 text-justify">
                <br><br>
                 <center>
               	<h1><FONT COLOR=#000099><b>¿CÓMO FUNCIONA?</b></FONT></h1>
                </center>
                <FONT SIZE=4>
	  						<ol type=”A”>
                <li>El usuario se conecta a la red <FONT COLOR=#000099><b>”Internet Gratis”</b></FONT>
                    en cualquiera de los hotspots repartidos en casi
                    todos los puntos con mayor afluencia de personas en
                    Acapulco.</li>
                <li>Para poder navegar debe realizar un sencillo registro.
                    </li>
                <li>Visualizar un video de 30 segundos de tú empresa
                    en el que transmitas, refuerces y garantices la
                    imagen o calidad de tus productos o servicios y listo,
                    puedes hacer uso ilimitado de nuestra red de alta
                    velocidad el tiempo que deseen.</li>
                </ol>
                </FONT>

	  					</div>
              <div class="col-sm-12 col-md-12 col-lg-5 space-img-about justify-content-md-center">
             
	  					<div align="center">
						<br>
                		<video controls poster="images/portada_funciona.png"  src="images/funciona.mp4" width="80%" height="80%"></video>
            			</div> 
              
                <br>
	  					</div>
	  				</div>
  				</div>
  			</div>
        </section>

        <!-- BENEFICIOS-->
        <section id=bene>
        <div class="container-fluid">
  				<div class="container about-us">
  					<div class="row">
	  					<div class="col-sm-12 col-md-12 col-lg-7 space-img-about justify-content-md-center">
                <br>
              <h1><FONT COLOR=#000099><b>BENEFICIOS:</b></FONT></h1>
              <br>
              <h2><FONT COLOR=#FFCC33><b>A NUESTROS ANUNCIANTES</b></FONT></h2>
              <ul>
              <font size="4">
              <li type="disc"> Penetración segmentada por zona.</li>
              <li type="disc"> Visualización completa del mensaje a entregar. </li>
              <li type="disc"> Flexibilidad de promociones y comunicación.</li>
              <li type="disc"> Medio intrusivo, alta recordación.</li>
              <li type="disc"> Extiende la vida de tus campañas.</li>
              <li type="disc"> Alto número de impactos.</li>
              <li type="disc"> Más económico. </li>
              <li type="disc"> 100% ecológico y medible.</li>
              <li type="disc"> Campañas personalizadas.</li>
              <li type="disc"> Fácil de contratar.</li>
              </font>
              </ul>

	  					</div>
	  					<div class="col-sm-12 col-md-12 col-lg-5">
                <br><br>
                <br>
                <center>
	  						<img src="images/BUsu.png"width="65%">
                </center>
                <br>
	  					<h2><FONT COLOR=#FFCC33><b>A LOS USUARIOS</b></FONT></h2>       
            <ul>
            <font size="4">
            <li type="disc">Conexión ilimitada a Internet.</li>
            <li type="disc">Mayor comunicación. </li>
            <li type="disc"> Gran cobertura.</li>
            <li type="disc"> Promociones segmentadas.</li>
            <li type="disc"> Noticias relevantes.</li>
            </font>
            </ul>
            <br>
	  					</div>
	  				</div>
  				</div>
  			</div>

        <div class="container-fluid" style="background-color: #000099;">
  				<div class="container about-us">
  					<div class="row">
	  					<div class="col-sm-12 col-md-12 col-lg-2 space-img-about justify-content-md-center">
              <center>
              <br>
	  						<img src="images/Economico.png"width="95%">
                </center>
	  					</div>
	  					<div class="col-sm-12 col-md-12 col-lg-4 text-justify text-white">
              <br>
	  					<h2><FONT COLOR=#FFCC33><b>Económico</b></FONT></h2>
              <p>Con RicsaNet puedes invertir desde un
                  monto mínimo muy accesible, hasta el monto
                  que consideres necesario para anunciar los
                  productos y servicios de tu micro, pequeña y
                  mediana empresa junto a las grandes compañías
                  transnacionales.
                </p>
	  					</div>
              <div class="col-sm-12 col-md-12 col-lg-2 space-img-about justify-content-md-center">
              <br>
              <center>
	  						<img src="images/Medible.png"width="90%">
                </center>
	  					</div>
	  					<div class="col-sm-12 col-md-12 col-lg-4 text-justify text-white">
              <br>
              <h2><FONT COLOR=#FFCC33><b>Medible</b></FONT></h2>
              <p>
              Puedes elegir puntos específicos de difución y
              de que forma quieres ser visualizado (video o
              banner), de igual forma puedes solicitar un
              reporte de las visualizaciones e interacciones
              de su campaña.
              </p>
	  					
	  					</div>
	  				</div>
  				</div>
  			</div>

        <div class="container-fluid" style="background-color: #000099;">
  				<div class="container about-us">
  					<div class="row">
	  					<div class="col-sm-12 col-md-12 col-lg-2 space-img-about justify-content-md-center">
              <center>
	  						<img src="images/Rapido.png"width="90%">
              </center>
	  					</div>
	  					<div class="col-sm-12 col-md-12 col-lg-4 text-justify text-white">
	  					<h2><FONT COLOR=#FFCC33><b>Fácil y rápido</b></FONT></h2>
              <p>¿Necesitas una campaña de ultima hora?
              RicsaNet es tu mejor opción, ya que es muy
              fácil de contratar y en cuestión de minutos tu
              campaña puede estar en manos de tu público
              objetivo.
                </p>
	  					</div>
              <div class="col-sm-12 col-md-12 col-lg-2 space-img-about justify-content-md-center">
              <br>
              <center>
	  						<img src="images/Atractivo.png"width="100%">
              </center>
	  					</div>
	  					<div class="col-sm-12 col-md-12 col-lg-4 text-justify text-white">
              <h2><FONT COLOR=#FFCC33><b>Atractivo</b></FONT></h2>
              <p>
              Aumenta la atracción del cliente potencial
              agregando descuentos o promociones también
              te asesoramos en el diseño del mensaje a
              transmitir.
              </p>
              <br>
	  					</div>
	  				</div>
  				</div>
  			</div>
        </section>

        <!-- ZONAS RICSANET:-->
        <section id="zones">
        <div class="container-fluid">
  				<div class="container about-us">
  					<div class="row">
            <br><br>
            <a href="zonas"> <br><h1><FONT  COLOR=#000099><b>VER MAPA DE ZONAS RICSANET</b></FONT></h1><br></a>
          	</div>

            <div class="row">
                 <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                           <center>
                          <img src="images/zocalo.png" width="85">
                           </center>
                         </div>
                       <div class="col-6">
                         <br>
                         <font COLOR=#000099 size="5">
                         <h5>Zócalo</h5>
                         </font>
                       </div>
                     </div>
                 </div>
                 <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                           <center>
                           <img src="images/Cine_rio_RicsaNet_Azul.png" width="85">
                            </center>
                         </div>
                       <div class="col-6">
                         <br>
                         <font COLOR=#000099 size="5">
                          <h5>Cine Río</h5>
                          </font>
                       </div>
                     </div>
                   </div>
               </div>

               <div class="row">
                 <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                          <br>
                           <center>
                           <img src="images/Anclas.png" width="85">
                           </center>
                         </div>
                       <div class="col-6">
                         <br><br>
                         <font COLOR=#000099 size="5">
                         <h5>Las Anclas</h5>
                         </font>
                       </div>
                     </div>
                 </div>
                 <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                          <br>
                           <center>
                           <img src="images/pueblo.png" width="85">
                            </center>
                         </div>
                       <div class="col-6">
                         <br><br>
                         <font COLOR=#000099 size="5">
                          <h5>El Pueblito</h5>
                          </font>
                       </div>
                     </div>
                   </div>
               </div>

               <div class="row">
                 <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                           <center>
                           <br>
                           <img src="images/upn.png" width="85">
                           </center>
                         </div>
                       <div class="col-6">
                         <br><br>
                         <font COLOR=#000099 size="5">
                         <h5>Las Cruces</h5>
                         </font>
                       </div>
                     </div>
                 </div>
                 <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                          <br>
                           <center>
                           <img src="images/rena.png" width="85">
                            </center>
                         </div>
                       <div class="col-6">
                         <br><br>
                         <font COLOR=#000099 size="5">
                          <h5 class="over">Cd. Renacimiento</h5>
                          </font>
                       </div>
                     </div>
                   </div>
               </div>
					
		 <div class="row">
                 <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                           <center>
                           <br>
                           <img src="images/lasvegasaz.png" width="85">
                           </center>
                         </div>
                       <div class="col-6">
                         <br><br>
                         <font COLOR=#000099 size="5">
                         <h5>Las Vegas</h5>
                         </font>
                       </div>
                     </div>
                 </div>
                 <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                          <br>
                           <center>
                           <img src="images/toxicaaz.png" width="85">
                            </center>
                         </div>
                       <div class="col-6">
                         <br><br>
                         <font COLOR=#000099 size="5">
                          <h5>Toxica</h5>
                          </font>
                       </div>
                     </div>
                   </div>
               </div>
					
							 <div class="row">
                 <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                           <center>
                           <br>
                           <img src="images/Emotion.png" width="85">
                           </center>
                         </div>
                       <div class="col-6">
                         <br><br>
                         <font COLOR=#000099 size="5">
                         <h5>Emotion</h5>
                         </font>
                       </div>
                     </div>
                 </div>
                 <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                          <br>
                           <center>
                           <img src="images/Playita.png" width="85">
                            </center>
                         </div>
                       <div class="col-6">
                         <br><br>
                         <font COLOR=#000099 size="5">
                          <h5>La playita</h5>
                          </font>
                          <br><br>
                       </div>
                     </div>
                   </div>
               </div>

  				</div>
  			</div>
  		</section>

      <!------------->
         <!-- CONTACT -->


      <section id="conta">
        <div class="container-fluid" style="background-color: #FFCC33;">
  				<div class="container about-us">
                           <font  COLOR=#000099>
                           <br>
                           <center>
                          <h1><b>Para mayor información contacta a <br>
                          nuestro equipo de ventas</b></h1>
                            </center>
                            <br>
                               </font>
  					 
           
            <div class="row">
               <div class="col">

               <form class="w3-container" action="correo.php" method="get" ename="prompt">
               <div class="w3-section">
                  <label><b>Nombre</b></label><br>
	              	<input class="form-control" type="text" placeholder="Nombre" name="nombre" required>
	              	<label id="contmin"><b>Correo</b></label> <br>
		              <input class="form-control" id="contcorreo" type="email" placeholder="Correo para la respuesta" name="correo" pattern="[A-Za-z0-9._%-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" title="Escribe un correo valido, Ej: xxx@gmail.com" required> 
		              <label id="contel"><b>Teléfono</b></label> <br>
		              <input class="form-control" type="tel" placeholder="Telefono para contacto" name="telefono" pattern="[0-9]*" title="Pon numero Telefonico, Ej: 5527455316" required>
		              <label for="message"><b>Mensaje:<b></label> <br>
                 <textarea class="form-control" placeholder="Escribe aquí tu mensaje"  name="message" required></textarea><br>

                 <center>
                   <button class="btn btn-primary btn-lg submit-form" style="background-color: #000099;"><b>Enviar<b></button>
                 </center>
                  <br>

                  </div>
                  </form>
                </div>

               


            <div class="col">
                 <br>
               <font size="4">
              </h3>Contacto para contratación y  asesoría de <br>clientes: </h3>
               </font>
              <br>
              <div class="row">
                   <div class="col-1">
                      <img  src = "images/phone.png" width="30">  
                    </div>
                    <div class="col-6">
                      <h5>&nbsp;744 484 26 71</h5>
                    </div>
              </div>
              <div class="row">
                   <div class="col-1">
                      <a href="https://api.whatsapp.com/send?phone=527442856487">
                      <img src="images/whatsapp.png" width="30">    
                      </a>
                    </div>
                    <div class="col-6">
                      <h5>&nbsp;744 244 86 68</h5>
                   </div>
              </div>

              <div class="row">
                   <div class="col-1">
                   <img  src = "images\correo.png" width="30">  
                    </div>
                    <div class="col-10">
                    <a href="mailto:marketing@ricsanet.com" ><i style="font-size: 16px" style="background-color: #000099;">&nbsp;</i><FONT COLOR=#000099><b>marketing@ricsanet.com</b></FONT></a>
                   </div>
              </div>

             
                 <br>
               <font size="4">
              </h3>Contacto para asesoría al usuario: </h3>
              </font>
              <br>
              <div class="row">
                   <div class="col-1">
                      <img  src = "images/phone.png" width="30">  
                    </div>
                    <div class="col-7">
                      <h5>&nbsp;800 001 01 01</h5>
                   </div>
              </div>

              <div class="row">
                   <div class="col-1">
                   <img  src = "images\correo.png" width="30">  
                    </div>
                    <div class="col-10">
                    <a href="mailto:soporte@ricsanet.com" ><i style="font-size: 16px" style="background-color: #000099;">&nbsp;</i><FONT COLOR=#000099><b>soporte@ricsanet.com</b></FONT></a>
						<br>
                   </div>
              </div>         
            </div> 
           </div>

  		 </div>
  	</div>
	</section>

      
       <!-- CONTACT -->


      <!-- Píe de pag-->
      <section>
         <div class="container-fluid" style="background-color: #000099;">
            <div class="row">

            <div class="col-12 text-right text-md-right">
              <br>
            <a href="https://es-la.facebook.com/RNInternetGratis/">
                    <img src="images/Facebook.png" width="30">
                  </a>
                  <a href="https://www.instagram.com/ricsanet">
                  <img src="images/Instagram.png" width="30">
                  </a>
                  <a href="https://www.youtube.com/channel/UCyM-ilMdEURtZCeAHmXwhgg">
                  <img src="images/Youtube.png" width="30">    
                </a>
                  <a href="https://api.whatsapp.com/send?phone=527442856487">
                  <img src="images/whatsapp.png" width="30">    
                </a>
                <br>
                <br>
                </div>
           </div>
          </div>
      </section>




      <script src="jquery/jquery-latest.js"></script>
      <script src="jquery/bootstrap.min.js"></script>

  
</body>
</html>