{% include "plantilla/base.html" %}
{% block content %}
{% load static %}
<link href="{%static 'css/nucleo-icons.css' %}" rel="stylesheet" />
<link href="{%static 'css/nucleo-svg.css' %}" rel="stylesheet" />

<!-- CSS Files -->

<body class="g-sidenav-show  bg-gray-200">
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

    <div class="container">
      <p class="text-capitalize text-center fs-1">Clientes</p>
      <div class="d-grid gap-2 d-md-block text-end">
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">Agregar
          cliente</button>
      </div>

      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Nombre cliente</th>
            <th scope="col">Razon Social</th>
            <th scope="col">Nombre Contacto</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% if Clientes %}
          {% for Clientes in Clientes %}
          <tr>
            <td>{{Clientes.nombre_cliente}}</td>
            <td>{{Clientes.razon_social}}</td>
            <td>{{Clientes.nombre_contacto}}</td>
            <td>
              <a href="#" class="btn btn-outline-info" data-bs-toggle="modal"
                data-bs-target="#modalv{{Clientes.id}}">Ver</a>
              <a class="btn btn-outline-primary" href="{% url 'update' Clientes.id %}"  >Actualizar</a>
              <a class="btn btn-outline-danger" data-bs-toggle="modal"
                data-bs-target="#modal-delete-item-{{Clientes.id}}">Eliminar</a>

            </td>
          </tr>
          <div class="modal modal-blur fade" id="modal-delete-item-{{Clientes.id}}" tabindex="-1" role="dialog"
            aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Eliminar</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="">Estas seguro de eliminar a: {{Clientes.nombre_cliente}}</p>
                </div>
                <div class="modal-footer">
                  <a href="{% url 'deletec' Clientes.id %}" class="btn btn-outline-danger">Si</a>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" tabindex="-1" id="modalv{{Clientes.id}}">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Datos Completos</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="fw-bold">Nombre: {{Clientes.nombre_cliente}} </p>
                  <p class="fw-bold">Razon social: {{Clientes.razon_social}}</p>
                  <p class="fw-bold">Nombre Contacto: {{Clientes.nombre_contacto}}</p>
                  <p class="fw-bold">Puesto: {{Clientes.puesto}}</p>
                  <p class="fw-bold">Telefono Contacto: {{Clientes.telefono_contacto}}</p>
                  <p class="fw-bold">Emal Contacto: {{Clientes.email_contacto}}</p>
                  <p class="fw-bold">Email Empresa: {{Clientes.email_empresa}}</p>
                  <p class="fw-bold">Telefono Empresa: {{Clientes.telefono_empresa}}</p>
                  <p class="fw-bold">Dirección Empresa:{{Clientes.direccion_empresa}}</p>
                  <p class="fw-bold">Uso de CFDI: {{Clientes.cfdi}}</p>
                  <p class="fw-bold">Fecha de creación: {{Clientes.fecha_creacion}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
         
          {%endfor%}
          {%else%}
          <h1>No hay registros</h1>
          {%endif%}
        </tbody>
      </table>
      {{mensaje}}

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content ">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Agregar cliente</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {% load crispy_forms_tags %}
              <form method="post">
                {%csrf_token%}
                {%if form%}

                <div class="row bg-white">
                  {%for field in form%}
                  <div class="col-md-6 p-2">{{field|as_crispy_field}}</div>
                  {%endfor%}

                  <div class="col-md-12">
                    <ul class="list-inline text-center">
                      <li class="list-inline-item">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                      </li>
                    </ul>
                  </div>
                </div>
                {%endif%}
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary">Limpiar</button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </main>
</body>


{% endblock %}